<div class="header">
    <div class="header-messages-container">
        <p class="message"></p>
        <p class="error-message"></p>
    </div>

    <div class="header-title-container">
        <div class="header-title">Calendar</div>
    </div>

    <div class="header-notifications-container">
        <div class="header-notification-content">
            <img id="header-notification-button" class="header-button header-notification" data-window-target="window-notifications" data-window-script="HeaderNotificationsWindow" src="static/svg/notification_bell.svg" alt="bell">
            <div id="window-notifications" data-window="header/notifications"></div>
        </div>
    </div>

    <div class="header-login-container">
        <div id="login-button" class="header-button" data-window-target="login-box">Login</div>
        <div id="sign-out-button" class="header-button" >Sign out</div>
    </div>
</div>