<div class="edit-calendar-container">
    <form id="calendar-edit-form" action="/api/edit_calendar">
        <div class="edit-calendar-box-input">
            <label for="edit-calendar-name">Name</label>
            <input type="text" id="edit-calendar-name" name="name" required>
        </div>

        <div class="edit-calendar-box-input">
            <input type="submit" value="Edit Calendar">
        </div>

        <div class="edit-calendar-box-input">
            <input id="edit-calendar-delete" type="button" value="Delete Calendar">
        </div>

        <div class="close-button">
            <img src="static/svg/cross.svg" alt="close">
        </div>
    </form>
</div>