<div class="left-panel-block calendars-container">
    <div class="block-container-title">
        <div class="title-text">
            Calendars
        </div>
        <div class="add">
            <div class="add-icon" data-window-target="window-create-calendar" data-window-script="CreateCalendarsWindow">
                <img src="static/svg/add.svg" alt="add">
            </div>

            <div id="window-create-calendar" data-window="left_panel/calendars/create_calendars"></div>

        </div>
    </div>
    <div class="block-list-container calendars-list-container"></div>
</div>