<div class="edit-event-container">
    <form id="event-edit-form" action="/api/edit_event">
        <div class="edit-event-box-input">
            <label for="edit-event-title">Title</label>
            <input type="text" id="edit-event-title" name="title" required>
        </div>
        <div class="edit-event-box-input">
            <label for="edit-event-date">Event Date</label>
            <input type="date" id="edit-event-date" name="date" required>
        </div>
        <div class="edit-event-box-input">
            <label for="edit-event-start-time">Start Time</label>
            <input type="time" id="edit-event-start-time" name="start-time" required>
        </div>
        <div class="edit-event-box-input">
            <label for="edit-event-end-time">End Time</label>
            <input type="time" id="edit-event-end-time" name="end-time" required>
        </div>
        <div class="edit-event-box-input">
            <label for="edit-event-note">Note</label>
            <textarea id="edit-event-note" name="note" rows="4" cols="50" required></textarea>
        </div>
        <div class="edit-event-box-input">
            <label for="edit-event-calendar">Calendar</label>
            <select class="calendar-list" id="edit-event-calendar" name="calendar"></select>
        </div>

        <input type="hidden" id="edit-event-id" name="id">

        <div class="edit-event-box-input">
            <input type="submit" value="Edit Event">
        </div>

        <div class="edit-event-box-input">
            <input id="edit-event-delete" type="button" value="Delete Event">
        </div>

        <div class="close-button">
            <img src="static/svg/cross.svg" alt="close">
        </div>
    </form>
</div>