<div class="left-panel-block event-container">
    <div class="block-container-title">
        <div class="title-text">
            Events
        </div>
        <div class="add">
            <div class="add-icon" data-window-target="window-create-event" data-window-script="CreateEventsWindow" data-window-fixed>
                <img src="static/svg/add.svg" alt="add">
            </div>

            <div id="window-create-event" data-window="left_panel/event/create_event"></div>

        </div>
    </div>
    <div class="block-list-container events-list-container"></div>
</div>